@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Fuente para el banner */
/* Fuente para el nav */
/* En este espacio se hallan los estilos comunes a todas las páginas del sitio */
/* Estilos Header */
header {
  position: absolute;
  z-index: 10;
  width: 100%; }

.navbar {
  padding: 20px 0; }
  .navbar .navbar-brand {
    height: 150px;
    width: 150px; }
    .navbar .navbar-brand img {
      width: 100%;
      height: 100%; }

@media (min-width: 992px) {
  nav .navbar-nav li {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden; }
    nav .navbar-nav li:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      height: 4px;
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    nav .navbar-nav li:hover:before, nav .navbar-nav li :focus:before, nav .navbar-nav li :active:before {
      -webkit-transform: translateY(0);
      transform: translateY(0); } }

nav .navbar-nav li a {
  color: white;
  font-family: "Prompt", sans-serif;
  margin: 0px 10px;
  padding: 5px 15px;
  font-size: 1rem;
  text-shadow: 2px 2px 5px black; }

.navbar-brand {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em; }

.nav-item {
  font-weight: 800;
  text-transform: uppercase; }

.banner {
  position: relative;
  background: url(../imagenes/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .banner {
      background: url(../imagenes/header.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 78vh;
      max-height: 78vh; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner {
      background: url(../imagenes/header.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; } }
  .banner .row {
    text-align: center;
    display: flex;
    justify-content: center; }
    .banner .row .banner__texto {
      width: 565px; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .banner .row .banner__texto {
          width: 380px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .banner .row .banner__texto {
          width: 450px; } }
      .banner .row .banner__texto h2 {
        color: white;
        font-family: "Radio Canada", sans-serif;
        margin: 0;
        padding: 0;
        font-size: 2.8em;
        font-weight: 1000;
        line-height: 1.5em;
        text-shadow: 2px 2px 5px black; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          .banner .row .banner__texto h2 {
            font-size: 1.8rem; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .banner .row .banner__texto h2 {
            font-size: 2rem; } }

/* Termina estilos Header */
/* Estilos Footer */
.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px; }
  .footer__links a {
    font-family: "Prompt", sans-serif;
    color: black;
    text-decoration: none; }

/* Termina estilos footer */
.inicio--texto {
  display: flex;
  text-align: center;
  justify-content: center; }
  .inicio--texto p {
    margin: 150px 400px;
    font-size: 1.4rem;
    font-weight: bold; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .inicio--texto p {
        font-size: 1.15rem;
        margin: 200px 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .inicio--texto p {
        font-size: 1.3rem;
        margin: 120px 100px; } }

.inicio--imagen {
  background-image: url(../imagenes/pexels-pille-kirsi-1093184.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 0px; }

.inicio--cards {
  display: flex;
  margin: 150px 0px; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .inicio--cards {
      flex-direction: column; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .inicio--cards {
      flex-direction: column; } }
  .inicio--cards .card {
    background-color: transparent;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.45);
    display: flex;
    text-align: center;
    justify-content: start;
    width: 90%;
    height: 550px;
    margin: 20px 25px; }
    .inicio--cards .card .card-contenedor-imagen {
      width: 100%;
      height: 450px; }
      .inicio--cards .card .card-contenedor-imagen img {
        width: 100%;
        height: 100%; }
    .inicio--cards .card button {
      background-color: white;
      color: rgba(0, 0, 0, 0.6);
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.5);
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 1.2rem;
      font-weight: 500;
      margin: 20px 0px;
      transition-duration: 0.5s;
      box-shadow: 2px 2px 5px black; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .inicio--cards .card button {
          padding: 5px 10px;
          font-size: 1rem; } }
      .inicio--cards .card button a {
        text-decoration: none;
        color: black; }
      .inicio--cards .card button:hover {
        background-color: #DDFFBC;
        color: black;
        border: 1px solid;
        transform: perspective(1px) scale3d(1.044, 1.044, 1);
        transition-duration: 20ms; }

/* estilos de la página podcast */
a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: white; }

.contenedor--tarjetas {
  margin: 50px 0px;
  width: 100%; }
  .contenedor--tarjetas .tarjeta {
    margin: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .contenedor--tarjetas .tarjeta .imagen {
      width: 350px;
      height: 350px; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .contenedor--tarjetas .tarjeta .imagen {
          width: 250px;
          height: 250px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .contenedor--tarjetas .tarjeta .imagen {
          width: 300px;
          height: 300px; } }
      .contenedor--tarjetas .tarjeta .imagen img {
        width: 100%;
        height: 100%;
        border-radius: 10px; }
    .contenedor--tarjetas .tarjeta .tarjeta--texto {
      width: 350px;
      height: 100px;
      margin: 10px 20px 30px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contenedor--tarjetas .tarjeta .tarjeta--texto p {
        text-align: center;
        font-family: "Radio Canada", sans-serif;
        font-size: 1.5rem; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          .contenedor--tarjetas .tarjeta .tarjeta--texto p {
            font-size: 1rem; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .contenedor--tarjetas .tarjeta .tarjeta--texto p {
            font-size: 1.2rem; } }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .contenedor--tarjetas .tarjeta .tarjeta--texto .episodio--2 {
          margin-top: 30px; } }
      .contenedor--tarjetas .tarjeta .tarjeta--texto button {
        background-color: white;
        color: rgba(0, 0, 0, 0.6);
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: 500;
        transition-duration: 0.5s;
        box-shadow: 2px 2px 5px black; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          .contenedor--tarjetas .tarjeta .tarjeta--texto button {
            padding: 5px 10px;
            font-size: 1rem; } }
        .contenedor--tarjetas .tarjeta .tarjeta--texto button:hover {
          background-color: #DDFFBC;
          color: black;
          border: 1px solid;
          transform: perspective(1px) scale3d(1.044, 1.044, 1);
          transition-duration: 20ms; }

.titulo--contacto {
  font-size: 2rem;
  font-family: "Radio Canada", sans-serif;
  text-align: center;
  margin: 50px 0px;
  /* celular */
  /* tablet */ }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .titulo--contacto {
      font-size: 1.1rem; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .titulo--contacto {
      font-size: 1.5rem; } }

.form--contacto form button {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1.2rem;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 5px black; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .form--contacto form button {
      padding: 5px 10px;
      font-size: 1rem; } }
  .form--contacto form button:hover {
    background-color: #DDFFBC;
    color: black;
    border: 1px solid;
    transform: perspective(1px) scale3d(1.044, 1.044, 1);
    transition-duration: 20ms; }
