
.inicio--texto {
    display: flex;
    text-align: center;
    justify-content: center;
    
    p {
        margin: 150px 0px;
        font-size: 1.4rem;
        font-weight: bold;
        // ---Celular--- //
        @media only screen and (min-width: 0px) and (max-width: 767px) {
            font-size: 1.15rem;
            margin: 100px 20px;
        }
        // ---Tablet--- //
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            font-size: 1.3rem;
            margin: 100px 30px;
        }
    }
}

.inicio--imagen {
    position: relative;
    background: url(../imagenes/bosque.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 50vh;
    max-height: 50vh;
}

.inicio--cards {
    display: flex;
    // ---Celular--- //
    @media only screen and (min-width: 0px) and (max-width: 767px) {
        flex-direction: column;
    }
    // ---Tablet--- //
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        flex-direction: column;
    }
    // ---Desktop--- //
    @media only screen and (min-width: 992px) and (max-width: 2000px) {
        max-width: 1700px;
    }
    .card {
        background-color: transparent;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.450);
        display: flex;
        text-align: center;
        justify-content: start;
        width: 90%;
        height: 550px;
        margin: 150px 25px;
        .card-contenedor-imagen {
        width: 100%;
        height: 450px;
        img {
            width: 100%;
            height: 100%;
        }
        }
        button {
            background-color: white;
            color: rgba(0, 0, 0, 0.6);
            border: 1px solid;
            border-color: rgba(0, 0, 0, 0.5);
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 1.2rem;
            font-weight: 500;
            margin: 20px 0px;
            transition-duration: 0.5s;
            box-shadow: 2px 2px 5px black;
            // ---Celular--- //
            @media only screen and (min-width: 0px) and (max-width: 767px) {
                padding: 5px 10px;
                font-size: 1rem;
            }
            a {
                text-decoration: none;
                color: black;
            }
            &:hover {
                background-color: #DDFFBC;
                color: black;
                border: 1px solid;
                transform: perspective(1px) scale3d(1.044, 1.044, 1); 
                transition-duration: 20ms;
            }
        }
    }
}
