* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos Header */
header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar {
    padding: 20px 0;
}

nav .navbar-nav li a{
    color: white;
    padding: 5px 15px;
    }

.navbar-brand {
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}

.banner {
    position: relative;
    background: url(../imagenes/Article-Media-economia-circolare.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
    & .row {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    & h2 {
        color: white;
        margin:0;
        padding: 0;
        font-size: 2.8em;
        font-weight: 1000;
        line-height: 1.5em;
    }
}
/* Estilos Header */

/* Estilos Footer */
.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    & a {
        color: black;
        text-decoration: none;
    }
}

