* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'fuentes';
@import 'estilos';
@import 'inicio';
@import 'cards';
@import 'podcast';
@import 'nosotros';
@import 'contacto';


